<div class="container d-flex flex-column align-items-center">
   <h2>Log In</h2>

   <form action="/auth/login" method="POST" class="d-flex flex-column align-items-center bg-light col-md-6">
      <label for="email">Email</label>
      <input type="text" name="email">
      
      <label for="password">Password</label>
      <input type="password" name="password">
      
      <p style="color: red">{{errorMessage}}</p>
      
      <button>Log In</button>
      
   </form>
</div>