<div id="sign-up-page" class="col-10 d-flex flex-column align-items-center justify-content-center">
  <h2 class="mb-3">Sign Up</h2>

<form action="/auth/signup" method="POST" enctype="multipart/form-data">
  <div class="mb-3">
    <label for="username" class="form-label">User name</label>
    <input type="text" class="form-control" name="username" id="exampleInputEmail1" aria-describedby="emailHelp">
     </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input type="text" class="form-control" name="email"id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" name="password"class="form-control" id="exampleInputPassword1">
  </div>

  <div class="mb-3">
    <label for="age" class="form-label">Age</label>
    <input type="number" min="0" max="120" class="form-control" name="age" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>

  <div class="mb-3">
    <label for="profileImage" class="form-label">Picture</label>
    <input type="file" class="form-control" name="profileImage" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>

  <p style="color: red">{{errorMessage}}</p>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
