<div id="sign-up-page" class="col-10 d-flex flex-column align-items-center justify-content-center">
  <h2>Sign Up</h2>

  <form action="/auth/signup" method="POST" class="d-flex flex-column align-items-center justify-content-around bg-light">
    <label for="username">UserName</label>
    <input type="text" name="username" />
    
    <label for="age">Age</label>
    <input type="number" name="age" min="0" max="99">
    
    <label for="email">Email</label>
    <input type="text" name="email" />
    
    <label for="password">Password</label>
    <input type="password" name="password" />
    
    <p style="color: red">{{errorMessage}}</p>

    <button>Register</button>
  </form>

</div>