<div>
  <div>
    <h4>REGISTER WEB</h4>
  </div>

  <div>
    <form action="/auth/signup" method="POST">
      <label for="username">UserName</label>
      <input type="text" name="username" />
      <br />
      <label for="email">Em@il</label>
      <input type="text" name="email" />
      <br />
      <label for="password">Password</label>
      <input type="password" name="password" />
      <br />
      <p style="color: red;">{{errorMessage}}</p>
      <button>Register</button>
    </form>

  </div>
</div>