<div id="edit-email-page" class="col-10 d-flex flex-column align-items-center justify-content-start bg-light">
  <h2>Email Edit</h2>

  <form action="/profile/edit/email" method="POST">

  <div class="edit-profile-divider">
    <label for="oldemail" class="form-label">Current Email Adress</label>
    <input type="text" class="form-control" name="oldemail"id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>

  <div class="edit-profile-divider">
    <label for="newemail" class="form-label">New Email address</label>
    <input type="text" class="form-control" name="newemail"id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>

  <div class="edit-profile-divider">
    <label for="repeatemail" class="form-label">Repeat New Email Adress</label>
    <input type="text" class="form-control" name="repeatemail"id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>

  <p style="color: red">{{errorMessage}}</p>

  <div class="d-flex flex-row justify-content-around">
    <button type="submit" class="btn btn-danger">Submit</button>
  </div>
</form>
    <a href="/profile"><button class="btn btn-secondary">Go Back</button></a>
</div>