<div id="sign-up-page" class="col-10 d-flex flex-column align-items-center justify-content-center">
  <h2 class="mb-3">Password Edit</h2>

<form action="/auth/signup" method="POST" enctype="multipart/form-data">

  <div class="mb-3">
    <label for="password" class="form-label">Old Password</label>
    <input type="password" name="password"class="form-control" id="exampleInputPassword1">
  </div>

  <div class="mb-3">
    <label for="password" class="form-label">Old Password</label>
    <input type="password" name="password"class="form-control" id="exampleInputPassword1">
  </div>

    <div class="mb-3">
    <label for="password" class="form-label">New Password</label>
    <input type="password" name="password"class="form-control" id="exampleInputPassword1">
  </div>

  <p style="color: red">{{errorMessage}}</p>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>