<div id="sign-up-page" class="col-10 d-flex flex-column align-items-center justify-content-center">
  <h2 class="mb-3">Password Edit</h2>

<form action="/profile/editpassword" method="POST">

  <div class="mb-3">
    <label for="oldpassword" class="form-label">Old Password</label>
    <input type="password" name="oldpassword" class="form-control" id="exampleInputPassword1">
  </div>

    <div class="mb-3">
    <label for="newpassword" class="form-label">New Password</label>
    <input type="password" name="newpassword"class="form-control" id="exampleInputPassword1">
  </div>

      <div class="mb-3">
    <label for="repeatnewpassword" class="form-label">Repeat New Password</label>
    <input type="password" name="repeatnewpassword"class="form-control" id="exampleInputPassword1">
  </div>

  <p style="color: red">{{errorMessage}}</p>
  <button type="submit" class="btn btn-primary">Submit</button>
  <a href="/profile"><button class="btn btn-secondary">Go Back</button></a>
</form>
</div>