<div>

        <h2>{{profileDetails.username}}`s Profile</h2>
    <div>
        <img src="{{profileDetails.profileImage}}" alt="picture" width="180px">
    </div>

    <br>
    
    <div>
    <p>Email : {{profileDetails.email}}</p>
    <p>Age : {{profileDetails.age}}</p>
    </div>




</div>