<div class="col-9">

    <h2>{{profileDetails.username}}`s Profile</h2>
    <div>
        <img src="{{profileDetails.profileImage}}" alt="profile-image" width="180px">
    </div>
    <div>
    <p>Email: {{profileDetails.email}}</p>
    <p>Age: {{profileDetails.age}}</p>
    </div>

</div>