<div class="col-9 d-flex flex-column align-items-start justify-content-start">

    {{#with profileDetails}}
    <h2>{{username}}`s Profile</h2>
    <img src="{{profileImage}}" alt="profile-image" width="180px">
    <p>Email: {{email}}</p>
    <p>Age: {{age}}</p>
    {{/with}}

</div>