<div class="container d-flex">
         <form action="/auth/login" method="POST" class="d-flex flex-column bg-light col-md-2">
         <label for="email">Email</label>
         <input type="text" name="email">

         <label for="password">Password</label>
         <input type="password" name="password">

         <div>
            <a href="/auth/signup">Sign Up</a>
            <a href="/login">
               <button>Log In</button>
            </a>
         </div>
       </form>
      </div>



      {{!!!!!!-- USAR PARTIALS EN LAYOUT --}}