{{!-- Linkk to trigger modal--}}
<a data-bs-toggle="modal" href="#newPublication">New Publication</a>

{{!-- Modal --}}
<div id="newPublication" class="modal fade bg-dark" role="dialog" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">

    {{!-- Modal Content--}}
    <div class="modal-content">
    {{!-- Header --}}
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add a New Publication</h5>
        <button type="button" class="close" data-bs-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {{!-- Body --}}
      <div class="modal-body">
        <form id ="publication" action="/user/publication/create" method="POST" class="bg-light">
        <div>
            <label for="title" class="form-label">Title</label>
            <input type="text" name="title" class="form-control" id = "title">
        </div>
        
        <div>
            <label for="content" class="form-label">Description</label>
            <input name="content" class="form-control" placeholder="What's happening?" rows="3">
        </div>
        
        <div>
            <label for="file" class="form-label">Select a File:</label>
            <input type="text" name="file" class="form-control" id="file">
        </div>

        <br>

        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Create Publication</button>
        </form>
      </div>
    </div>
  </div>
</div>




    
