<div class="col-10 d-flex flex-column align-items-center justify-content-center">
    <p style="font-weight: bolder; font-size: 20px">{{errorMessage}}</p>
    <a href="/user/{{publicationId}}/details">
    <button class="btn btn-primary">Go back</button>
    </a>
</div>