<div style="color: white" class="col-10 d-flex flex-column align-items-center">

     <h2>Wait for the Staff to check your publication</h4>
    <p>Thank you for your understanding,  it will not take too much</p>

    <img src="../../images/loading.gif" alt="loading">
</div>

<script>

function redirect(){
  window.location.href = "http://localhost:3000/";
}
 
setTimeout(redirect, 3000);
</script>