<div class="col-10 d-flex flex-column align-items-start justify-content-start">
    <h2>Publications list</h2>
    

            {{#each pendingList}}
        <div class="d-flex flex-row justify-content-start">
            <p>{{title}}</p>
            <form action="/admin/publications/{{_id}}/approval" method="POST">
                <button>Approve</button>
            </form>
            <a href="/admin/publications/{{_id}}/edit">
                <button>Edit</button>
            </a>
            <form action="/admin/publications/{{_id}}/delete" method="POST">
                <button>Delete</button>
            </form>
        </div>
             {{/each}}

    
    
</div>