body {
  padding: 0;
  margin: 5vh 2vw;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100vh;
  width: 100vw;
}

h1 {
  color: 15px;
}

/*Layout*/
#nav-bar {
  height: 100%;
  font-size: 20px;
  padding: 2vh 2vw;
}

#nav-bar a {
  color: #00b7ff;
  text-decoration: none;
}

#main-box {
  height: 100%;
  margin: 0;
}


