body {
  padding: 0;
  margin: 5vh 1vw;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100vh;
  width: 100vw; 
  background-color: #57BBF5;
}

h1 {
  color: 15px;
}

/*Layout*/
#nav-bar {
  height: 100%;
  font-size: 20px;
  padding: 2vh 2vw;
}

#nav-bar a {
  color: #212353;
  text-decoration: none;
}

#main-box {
  height: 100%;
  margin: 0;
}



/*Home page render*/
#publication {
  width: 100%;
  padding: 10px 20px;
}


#title {
  width: 40%;
}

#file {
  width: 50%
}

#iron-world {
  color: #212353;
}

.news {
  word-break: break-all;
  width: 100%;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 15px;
}

#new-details-link {
  width: 100%;
  height: 100%;
  text-decoration: none;
  padding: 12px;
}

#publication-details-box {
  width: 100%;
  text-decoration: none;
  padding: 12px;
}

#new-details-link p {
  color: black;
  text-decoration: none;
}

#comments-section {
  width: 100%;
  background-color: #C8E9FB;
  margin: 0 0 0 5px;
  border-radius: 5px;
}

#add-comment-box {
  width: 100%;
  padding: 10px;
}

#add-comment-box form {
  width: 90%;
  margin: 0 0 0 1vw;
}

.news-profile-image {
  width: 30px;
  height: 30px;
  border-radius: 20px
}

.news span {
  font-weight: bolder;
  color:dimgray
}

.new-title {
  font-size: 18px;
  font-weight: bold;
  color:#212353
}

.news-items {
  margin-left: 1vw;
  width: 90%;
}

.news-items p {
  margin: 0 0 5px 0
}

.new-content {
  line-height: 14px;
}

#comments {
  word-break: break-all;
  width: 100%;
  margin: 5px;
  padding: 5px;
}

#each-comment {
  margin: 1px 0 2px 0;
}

#comments h2 {
  font-size: 20px;
}

#comment-profile-image {
  width: 25px;
  height: 25px;
  border-radius: 20px
}

#comment-details-box {
  margin: 0 0 0 5px;
  width: 80%
}

#comment-details-edit {
  width: 100%;
}

#comment-username {
  margin: 0;
  font-weight: bolder;
}

#comment-message {
  margin: 0;
}

.comment-area {
  width: 85%;
}

#delete-comment button {
  width: 7vw;
  height: 4vh;
}

.date {
  font-size: 11px
}

.comment-date {
  margin: 0 0 0 5px;
  color: black;
  opacity: 0.5
}

#comment-header {
  width: 100%;
}

.separator {
  border: 1px solid black;
  opacity: 0.1;
  width: 95%;
  margin: 0 0 1vh 0;
}

/*Sign up page render*/
#sign-up-page {
  height: 100%;
}


/*Log in page render*/
#log-in-page {
  height: 100%;
}