/* * {
  border: 1px solid black;
} */

body {
  padding: 0;
  margin: 5vh 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  background-color:#a5aaa8;
  position: sticky;
  background-image: url("../images/bg2.jpeg") ;
  background-size: cover;
}

h1 {
  color: 15px;
}

/*Layout*/
#nav-bar {
  height: 100%;
  font-size: 20px;
  font-weight: 500;
  padding: 2vh 2vw;
  border-radius: 30px;
}

#nav-bar a {
  color: #ffffff;
  background-color:#415972;
  text-decoration: none;
  text-align: center;
  opacity: 0.7;
  transition: 0.2s;
  display: block;
  border-radius: 10px;
  padding: 10px
}

#nav-bar a:hover {
  opacity: 1;
}

#main-box {
  height: 100%;
  width: 100%;
  margin: 0;
}



/*Home page render*/
#publication {
  width: 100%;
  padding: 10px 20px;
}

#right-nav-bar {
  height: 100%;
  padding: 5vh 2vw;
  background-color: #57BBF5;
  border-radius: 30px;
}

#job-offers {
  margin: 15px 0 0 0;
}

#job-offers ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 22px;
  text-align: center;
}

#job-offers a {
  text-decoration: none;
  font-size: 18px;
  color: #11158f
}

#job-offers h3 {
  text-align: center;
}

#search-form {
  height: 5%;
  width: 100%;
}

#search-field {
  height: 100%;
  width: 80%;
  border-radius: 10px;
}

#title {
  width: 40%;
}

#key-publications-section h3 {
  text-align: center;
}

#featuring-publications {
  margin: 0;
  width: 100%;
}

#featuring-publications a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

#file {
  width: 50%
}

#iron-world-logo {
  width: 250px;
  height: auto;
  margin: -50px 0 -25px 0;
  padding: 0
}

#iron-world {
  color: white;
  font-weight: bold;
}

.news {
  word-break: break-all;
  width: 100%;
  border-radius: 25px;
  background-color: white;
  margin-bottom: 20px;
}

.news-image {
  margin: 10px 0;
  border-radius: 8px;
  height: auto;
}

#new-details-link {
  width: 100%;
  height: 100%;
  text-decoration: none;
  padding: 15px;
}

#add-friends {
  margin-top: 50px;
  height: 20%;
  width: 70%;
}

#add-friends img {
  border-radius: 20px;
}

#user-params {
  width: 70%;
}

#user-params p {
  margin: 0 0 0 5px;
}

#like-main {
  margin: 0 0 5px 0;
}

#like {
  margin: 0 15px 0 5px;
}

#likes-count {
 margin: 0
}

.icons {
  font-weight: bold;
}

#favorite-buttons {
  width: 80%;
}

#latest-title {
  background-color:#ffc5c5;
  opacity: 0.7;
  transition: 0.2s;
  border-radius: 10px;
  padding: 5px;
  font-weight: 600
}

#latest-title:hover {
  opacity: 1;
}

#hi-title {
  margin: 5px auto -10px;
  font-weight: bold;
}

#most-liked-title {
  background-color:#ffc5c5;
  opacity: 0.7;
  transition: 0.2s;
  border-radius: 10px;
  padding: 5px;
  font-weight: 600
}

#most-liked-title:hover {
  opacity: 1;
}


#like-items {
  width: 30px;
  height: 100%;
}

#comment-items {
  width: 30px;
  height: 100%;
}

#comment-icon {
  margin: 0 0 4px 0
}

#publication-details-box {
  width: 100%;
  text-decoration: none;
  padding: 15px;
  margin: 0 0 20px 0;
}

#new-details-link p {
  color: black;
  text-decoration: none;
}

#publi-details-comments-box {
  margin: 0 0 0 40px;
}

#comments-section {
  width: 100%;
  background-color: #C8E9FB;
  border-radius: 15px 15px 0 0;
  padding: 15px;
}

#add-comment-box {
  width: 100%;
  padding: 10px;
}

#add-comment-box form {
  width: 90%;
  margin: 0 0 0 1vw;
}

.news-profile-image {
  width: 30px;
  height: 30px;
  border-radius: 20px
}

.news span {
  font-weight: bolder;
  color:dimgray
}

.new-title {
  font-size: 18px;
  font-weight: bold;
  color:#212353;
}

.news-items {
  margin-left: 1vw;
  width: 90%;
}

.news-items p {
  margin: 0 0 5px 0
}

.new-content {
  line-height: 14px;
}

.new-content p {
  margin: 3px 0;
}

#comments {
  word-break: break-all;
  width: 100%;
  margin: 5px;
  padding: 5px;
}

#each-comment {
  margin: 1px 0 2px 0;
}

#comments h2 {
  font-size: 20px;
}

#comment-profile-image {
  width: 25px;
  height: 25px;
  border-radius: 20px
}

#comment-details-box {
  margin: 0 0 0 5px;
  width: 80%
}

#comment-details-edit {
  width: 100%;
}

#comment-username {
  margin: 0;
  font-weight: bolder;
}

#comment-message {
  margin: 0;
}

.comment-area {
  width: 85%;
}

#delete-comment button {
  width: 100%;
  height: 100%;
}

.date {
  font-size: 11px
}

.comment-date {
  margin: 0 0 0 5px;
  color: black;
  opacity: 0.5
}

#comment-header {
  width: 100%;
}

.separator {
  border: 1px solid black;
  opacity: 0.1;
  width: 95%;
  margin: 0 0 1vh 0;
}

#new-buttons {
  margin: 8px 0 0 0;
}

#like-unlike {
  width: 40%;
}

#favourite-form {
  margin: 0 10px 0 0;
}

#profile-main-image {
  border-radius: 10px;
}

/*Sign up page render*/
#sign-up-page {
  height: 95%;
  width: 46%;
  margin: auto;
  padding: 25px;
  border-radius: 30px;
}

#sign-up-page h2 {
  font-size: 50px;
  margin: 20px auto 25px;
}

#sign-up-page label {
  font-weight: bold;
}

.sign-up-divider {
  margin: 20px auto;
}

#submit-sign-up-btn {
  margin: auto;
}

/*Log in page render*/
#log-in-page {
  height: 80%;
  width: 46%;
  margin: auto;
  padding: 25px;
  border-radius: 30px;
}

#log-in-page h2 {
  font-size: 50px;
  margin: 40px auto 25px;
}

.log-in-divider {
  margin: 20px auto;
}

#log-in-page label {
  font-weight: bold;
}

#submit-log-in-btn {
  margin: auto;
}

/*User List page*/
#user-list {
  margin: auto;
  padding: 20px;
  height: 80%;
  width: 45%;
  border-radius: 30px;
}

#user-list h2 {
  font-size: 60px;
  margin: 5px 0 35px 0;
}

#user-list p {
  margin-bottom: 0
}

#user-list span {
  font-weight: bold;
}

#users {
  width: 100%;
  padding: 0 25px
}

#user-list-username {
  margin-left: 10px;
}

#user-list-buttons {
  width: 40%;
}


/* User edit page */
#user-details {
  margin: auto;
  padding: 20px;
  height: 97%;
  width: 45%;
  border-radius: 30px;
}

#user-details h2 {
  font-size: 30px;
  margin: 0 0 5px 0;
}

.form-user {
  margin: 10px auto;
}

.form-user label {
  font-size: 20px;
}

/* Approved/Pending lists */
.list {
  margin: auto;
  padding: 10px 20px;
  height: 90%;
  width: 38%;
  border-radius: 20px;
}

.list h2 {
  font-size: 35px;
  margin: 0
}

.list-publication-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 5px
}

.list-publication-items p {
  font-weight: 600;
  margin: 0 5px;
}

.list-publication-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

/* Publication creation Page */
#publication-details-edit-page {
  margin: auto;
  padding: 20px;
  height: 70%;
  width: 70%;
  border-radius: 30px;
}

#publication-details-edit-page h2 {
  font-size: 50px;
  margin: 20px auto;
}

#publication-creation-form {
  width: 100%;
}

#publication-creation-form form {
  width: 80%;
}

.margin-fields {
  margin: 30px auto;
}

#pubs {
  width: 70%;
}


/* Main profile page */
#profile-page {
  width: 80%;
  margin: 0;
}

#profile-page h2 {
  margin: 0 0 10px 0;
}

#profile-user-age {
  margin: 20px auto 15px;
  width: 100%;
}

#profile-user-age p {
  font-size: 20px;
  font-weight: bold;
}

#edit-profile-group {
  margin: 0 auto 30px;
}

#profile-posts {
  width: 80%;
}

.profile-columns {
  width: 40%;
  padding: 10px;
  border-radius: 20px;
}

.profile-columns a {
  text-decoration: none;
}

/* Edit profile page */
#profile-edit-div {
  width: 50%;
  height: 60%;
  margin: auto;
  border-radius: 20px;
}

#profile-edit-div label {
  font-size: 20px;
}

#profile-edit-div h2 {
  margin: 30px auto;
}

.edit-profile-divider {
  margin: 15px auto;
}

/* Edit email page */
#edit-email-page {
  width: 40%;
  height: 80%;
  margin: auto;
  border-radius: 20px;
}

#edit-email-page h2 {
  margin: 30px auto;
}

#edit-email-page label {
  font-size: 18px;
}


/* Edit password page */
#password-edit-div {
  width: 40%;
  height: 80%;
  margin: auto;
  border-radius: 20px;
}

#password-edit-div h2 {
  margin: 30px auto;
}

#password-edit-div label {
  font-size: 18px;
}